* {
    box-sizing: border-box;
    font-family:gotham, sans-serif !important;
}

header {
    background-color: rgb(50, 108, 165);
    color: white;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(190px, auto);
    padding-top: 40px;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.mat-raised-button {
    background-color: rgb(241, 241, 241);
    font-size: 20px;
    color: black;
}

.mat-raised-button:hover:enabled {
    background-color: rgb(200, 200, 200);
}

.mat-raised-button:disabled {
    opacity: 0.3;
}

.icon {
    font-size: 70px;
    width: 30px;
    height: 90px;
    float: left;
    font-family: 'Material Icons' !important;
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .icon {
      font-size: 60px;
    }
}
