<header>
    <h1>Bienvenue sur Poly Dessin !</h1>
</header>

<div class="wrapper">
    <button
        mat-raised-button
        class="mat-raised-button"
        id="new"
        (click)='createNewDrawing()'
    >
        <mat-icon class="icon">brush</mat-icon>
        <span class="title">Créer</span><br />
        un nouveau dessin
    </button>
    <button
        id="continue"
        mat-raised-button
        class="mat-raised-button"
        id="continue"
        [disabled]="!localSaveDrawing"
        (click)="continueDrawing()"
    >
        <mat-icon class="icon">navigate_next</mat-icon>
        <span class="title">Continuer</span><br />
        le dernier dessin
    </button>
    <button
        mat-raised-button
        class="mat-raised-button"
        id="gallery"
        (click)='openDrawingGallery()'
    >
        <mat-icon class="icon">crop_original</mat-icon>
        <span class="title">Galerie</span><br />
        des dessins sauvegardés
    </button>
    <button
        mat-raised-button
        class="mat-raised-button"
        id="guide"
        (click)="goToDocumentation()"
    >
        <mat-icon class="icon">help_outline</mat-icon>
        <span class="title">Guide</span><br />
        d'utilisation
    </button>
</div>