<h2>Crayon</h2>
    <p class="sizeText">Taille de la pointe : &nbsp;</p>
    <mat-form-field>
        <input
            matInput
            type="number"
            [disabled]="isDrawing"
            [(ngModel)]="size"
            min="1"
            max="200"
            (change)="changeSize()"
            (mousedown)="stateSelector.isModifyingInput = true"
        />
    </mat-form-field>
    
<div class="sizeButtonsText">
    <div class="sizeButtons">
        <button
            mat-icon-button
            [disabled]="isDrawing"
            (click)="increaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
        </button>
        <button
            mat-icon-button
            [disabled]="isDrawing"
            (click)="decreaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <p class="pxText">px</p>
</div>

<app-color></app-color>
