<h1>Selecteur de couleur</h1>
<div mat-dialog-content>
    <app-main-color-gradient
        [shouldUpdateGradient]="shouldUpdateGradient"
        (shouldUpdateForAlpha)="shouldUpdateForAlpha=$event"
    >
    </app-main-color-gradient>
    <app-alpha-color-gradient
        [shouldUpdateGradient]="shouldUpdateGradient"
        [shouldUpdateForAlpha]="shouldUpdateForAlpha"
    >
    </app-alpha-color-gradient>
    <app-all-color-gradient
        (shouldUpdateGradient)="shouldUpdateGradient=$event"
    >
    </app-all-color-gradient>
    <mat-form-field class="inputs">
        <input 
            matInput 
            placeholder="Bleu" 
            pattern="[a-fA-f0-9 ]*" 
            [(ngModel)]="colorSelection.Hex.Blue"
            (change)="updateHex()" 
            maxlength="2"
        >
    </mat-form-field>
    <mat-form-field class="inputs">
        <input 
            matInput 
            placeholder="Vert" 
            pattern="[a-fA-f0-9 ]*" 
            [(ngModel)]="colorSelection.Hex.Green"
            (change)="updateHex()" 
            maxlength="2"
        >
    </mat-form-field>
    <mat-form-field class="inputs">
        <input 
            matInput 
            placeholder="Rouge" 
            pattern="[a-fA-f0-9 ]*" 
            [(ngModel)]="colorSelection.Hex.Red"
            (change)="updateHex()" 
            maxlength="2"
        >
    </mat-form-field>
    <canvas 
        class=preview 
        width="40" 
        height="40" 
        [ngStyle]="{'background-color': colorSelection.inString}"
    ></canvas>

    <div *ngIf="data!=2">
        <div class=history *ngFor="let history of colorHistory">
            <canvas 
                width="40" 
                height="40" 
                [ngStyle]="{'background-color': history.inString}"
                (contextmenu)="contextMenu($event)"
                (mousedown)="mouseClickOnHistory($event, history)"
            ></canvas>
        </div>
    </div>

</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="closeWindow()">Ok</button>
</div>