<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.colorApplicator)">
    L'applicateur de couleur permet de changer les couleurs des éléments déjà présent sur le dessin.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>R</b> ou de cliquer sur l'icone suivant dans la barre
    latérale gauche:
    <br />
    <mat-icon>format_paint</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation :
    <br /><br />
    <img
        src="../../../assets/new-user-guide/color-applicator-tool.PNG"
        alt="color applicator tool"
    >
    <br /><br />
    Pour changer la couleur d'un objet, il suffit de faire un clique gauche sur un élément et il prendra la
    couleur de la couleur principale choisie. Si un clique droit est effectué sur un objet, la couleur
    de la bordure change en prenant la couleur de la couleur secondaire. Pour rappel, le changement des
    couleurs secondaire et primaire se font en cliquant sur le carré de la couleur.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/applicator.gif"
        alt="color applicator tool"
    >
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.color)">
    L'outil couleur est utile pour le choix de couleurs que les autres outils vont avoir.
    <br /><br />
    Cet outil n'est pas dans la barre latérale gauche. Il s'ouvre avec les deux manières décrites plus loin.
    <br /><br />
    Lorsque vous êtes dans la création d'un nouveau dessin, vous pouvez sélectionner la couleur de l'arrière plan grâce
    au bouton <b>Modifier la couleur</b>. Cela ouvre alors la modale de changement de couleur.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/color-newDrawing.PNG"
        alt="create drawing color"
    >
    <br /><br />
    Une fois dans l'application, pour changer les couleurs principale et secondaires, il suffit de cliquer sur la case
    colorée que vous voulez changer. Vous pouvez aussi changer la couleur d'arrière plan en cliquant sur
    <b>Modifier couleur d'arriere plan</b>.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/color-selection.PNG"
        alt="color selection"
    >
    <br /><br />
    Il y a 3 sections de couleurs : la première permet de chosir l'intensité de la couleur, la deuxième permet de
    choisir l'opacité, et la dernière permet de choisir la couleur en elle même. Vous pouvez aussi mettre les valeurs
    hexadecimales dans les cases <b>Rouge</b>, <b>Vert</b> et <b>Bleu</b>. Une petite prévisualisation se trouve au
    milieu de l'écran
    vers le bas à droite des selecteur de couleurs. Un historique des 10 dernieres couleur est aussi affiché en bas. Pour
    appliquer une des couleur de l'historique des couleur, il suffit de faire un clique gauche pour l'appliquer a la
    couleur principale ou un clique droit pour l'appliquer à la couleur secondaire. Une fois la nouvelle couleur
    selectionnée, il suffit de cliquer sur le bouton <b>Ok</b> pour sortir du selecteur de couleur.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/color-selector.PNG"
        alt="color selection"
    >
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.colorPicker)">
    L'outil pipette est utile pour choisir une couleur déjà dessiné.
    <br /><br />
    L'outil pipette permet de changer le choix de la couleur principale ou la couleur secondaire avec
    la couleur de l'objet sur lequel on clique. La couleur assignée est celle du pixel sous le pointeur
    de la souris.
    <br /><br />
    Le changement de la couleur principale se fait avec un clic gauche, et celui de la couleur secondaire se fait
    avec un clic droit.
    <br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>i</b> ou de cliquer sur l'icone suivant dans la barre
    latérale gauche:
    <br />
    <mat-icon>colorize</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation :
    <br /><br />
    <img
        src="../../assets/new-user-guide/colorPicker-tool.PNG"
        alt="ColorPicker tool"
    >
    <br /><br />
    Voici un exemple d'utilisation de l'outil pipette :
    <br /><br />
    <img
        src="../../assets/new-user-guide/picker.gif"
        alt="Color picker"
    >
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.paintBucket)">
    L'outil sceau de peinture permet de remplir une zone avec la couleur primaire.
    <br /><br />
    Pour remplir une zone, il suffit de cliquer dans la zone voulue et l'outil va remplacer tout les pixels de la
    couleur de la zone avec celle de la couleur principale.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>B</b> ou de cliquer sur l'icone suivant dans la barre
    latérale gauche:
    <br />
    <mat-icon>opacity</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation :
    <br /><br />
    <img
        src="../../assets/new-user-guide/paintBucket-tool.PNG"
        alt="Paint Bucket tool"
    >
    <br /><br />
    On peut aussi changer la tolérance du remplissage grâce au champs <b>Tolérance</b> :
    <br /><br />
    <img
        src="../../assets/new-user-guide/paintBucket-tolerance.PNG"
        alt="Paint bucket tolerance"
    >
    <br /><br />
    Voici un exemple d'utilisation de l'outil sceau de peinture :
    <br /><br />
    <img
        src="../../assets/new-user-guide/bucket.gif"
        alt="Color picker"
    >
    <br /><br />
    Vous pouvez à tout moment annuler un remplissage en cours en appuyant sur la touche <b>Esc</b>.
</p>