/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.mat-dialog-container {
    background-color: rgb(50, 108, 165);
}
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: gotham, sans-serif !important;
    -webkit-user-select: none;
}

.snackbar {
    background: #535563;
    color: white;
}

.red-snackbar {
    background: #c21a1a;
    color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: auto;
    height: auto;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgb(114, 177, 240);
    border: 1px solid rgb(114, 177, 240);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(18, 76, 134);
    border: rgb(61, 129, 197);
}
::-webkit-scrollbar-thumb:active {
    background: rgb(18, 76, 134);
    border: rgb(61, 129, 197);
}
::-webkit-scrollbar-track {
    background: rgb(61, 129, 197);
}
::-webkit-scrollbar-track:hover {
    background: rgb(61, 129, 197);
}
::-webkit-scrollbar-track:active {
    background: rgb(61, 129, 197);
}
::-webkit-scrollbar-corner {
    background: transparent;
}
