<h2>Sceau de peinture</h2>
<p class="sizeText">Tolérance : &nbsp;</p>
<mat-form-field class="formFieldInput">
    <input
        matInput
        type="number"
        [(ngModel)]="paintBucketHandler.tolerance"
        [disabled]="isDrawing || newDrawingService.blockNavigation"
        min="0"
        max="100"
        (change)="changeSize()"
        (mousedown)="stateSelector.isModifyingInput=true"
    />
</mat-form-field>

<div class="sizeButtonsText">
    <div class="sizeButtons">
        <button
            mat-icon-button
            [disabled]="newDrawingService.blockNavigation"
            (click)="increaseTolerance()"
        >
            <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
        </button>
        <button
            mat-icon-button
            [disabled]="newDrawingService.blockNavigation"
            (click)="decreaseTolerance()"
        >
            <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <p class="pourcentageText">%</p>
</div>

<app-color></app-color>

<canvas
    #htmlCanvas
    hidden
></canvas>