.input-save {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.hint {
    text-align: center;
    opacity: 70%;
    font-size: initial;
    padding-bottom: 1em;
}

.confirm {
    float: right;
}

.cancel {
    float: left;
}

.confirmDialog {
    padding-bottom: 2em;
}

.previsualization {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}