<h1 class="title">Sauvegarde du dessin</h1>


<div class="input-save" *ngIf='!openConfirmation'>
    <mat-form-field>
        <mat-hint align="end">{{metaDrawing.name.length}} / 20 caractères max</mat-hint>
        <input matInput
                [(ngModel)]='metaDrawing.name'
                placeholder="Nom du dessin"
                maxlength="20"
                required>
        <mat-error *ngIf="metaDrawing.name.length==0">Un nom doit être renseigné</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-chip-list #labelList aria-label="Étiquettes">
            <mat-chip *ngFor="let label of metaDrawing.labels" (removed)="remove(label)">
                {{label}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Étiquettes"
            [matChipInputFor]="labelList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
            maxlength="15"
            autocomplete="off">
        </mat-chip-list>
        <mat-hint align="end">{{metaDrawing.labels.length}} / 4 étiquettes max</mat-hint>
    </mat-form-field>
    <div class="hint">15 caractères max par étiquettes, <strong>virgule et espace</strong> non acceptés.
        Appuyer sur Enter pour ajouter l'étiquette</div>
    <button
        mat-raised-button
        (click)='saveDrawing()'>
        <span>Sauvegarder</span>
    </button>
</div>

<div
    #previsualization
    class="previsualization"
    [class.show]="svgCanvas"
    *ngIf='!openConfirmation'
>
</div>

<div
    class='confirmationDialog'
    *ngIf='openConfirmation'>
    <h3 class="title">Voulez-vous vraiment sauvegarder ce dessin avec ces paramètres ?</h3>
    <button
        mat-raised-button
        class="cancel"
        (click)='dialogRef.close()'>
        <span class="title">Annuler</span>
    </button>
    <button
        mat-raised-button
        class="confirm"
        (click)='sendToServer()'>
        <span class="title">Sauvegarder</span>
    </button>
</div>
