<h2>Grille</h2>
<p class="sizeText">Taille de la grille : &nbsp;</p>
<mat-form-field>
    <input
        matInput
        type="number"
        [(ngModel)]="gridService.size"
        min="50"
        max="200"
        (change)="changeSize()"
        (mousedown)="stateSelector.isModifyingInput=true"
    />
</mat-form-field>

<div class="sizeButtons">
    <button
        mat-icon-button
        (click)="gridService.increaseGridSize()"
    >
        <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
    </button>
    <button
        mat-icon-button
        (click)="gridService.decreaseGridSize()"
    >
        <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
    </button>
</div>
<p>px</p>

<mat-slide-toggle
    checked="gridService.isActive"
    [(ngModel)]="gridService.isActive">
    Afficher la grille
</mat-slide-toggle>
<br>
<p class="sizeText"> Opacité :&nbsp;
    <br>
    <mat-slider
        min="15"
        [(ngModel)]="gridService.opacity">
    </mat-slider>
</p>