h2 {
    text-align: center;
}

p {
    float: left;
    padding-top: 2%;
}

.sizeChange {
    float: left;
    position: sticky;
    width: 15%;
    padding-bottom: 0.5em;
}

.layoutType {
    float: left;
    position: sticky;
    width: 5em;
    padding-bottom: 1em;
}

.mat-icon-button {
    line-height: unset;
    font-size: 18px;
    width: 22px;
    height: 22px;
    display: block;
 }

 .sizeButtons {
    padding-top: 0.4em;
    float: left;
 }

 .sizeButtonsText {
    display: inline-flex;
    align-items: center;
 }

.pxText {
    padding-top: 0.4em;
}