<svg>
    <rect #boundary class='boundary'> </rect>
    <rect #top width='10' height='10'> </rect>
    <rect #bottom width='10' height='10'> </rect>
    <rect #left width='10' height='10'> </rect>
    <rect #right width='10' height='10'> </rect>
</svg>