svg {
    width: 0px;
    height: 0px;
    background-color: whitesmoke;
}

line {
    stroke: yellowgreen;
    stroke-width: 15px;
    outline-style: dashed;
    outline-color: black;
}

rect {
    fill: rgba($color: #08428d, $alpha: 1.0);
}

.boundary {
    fill: none;
    stroke-width: 2px;
    stroke: rgba($color: #08428d, $alpha: 0.9);
    stroke-dasharray: 4 2;
}