<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.newDrawing)">
    La fonctionnalité de nouveau dessin permet de créer un nouveau dessin.
    <br /><br />
    Pour créer un nouveau dessin il suffit d'utiliser le raccourci <b>CTRL+O</b> ou de cliquer sur l'icone suivant dans
    la
    barre latérale gauche:
    <br />
    <mat-icon>fiber_new</mat-icon>
    <br />
    Cette icone se trouve tout en bas de la barre de navigation :
    <br /><br />
    <img
        src="../../assets/new-user-guide/newDrawing-tool.PNG"
        alt="New Drawing tool"
    >
    <br /><br />
    Pour créer un nouveau dessin vous pouvez entrer les valeurs de largeur et hauteur du dessin (qui sont en pixels)
    dans les cases respectives <b>Hauteur du dessin</b> et <b>Largeur du dessin</b>. Vous pouvez changer la couleur
    d'arrière plan
    de votre nouveau dessin grâce au bouton <b>Modifier la couleur</b>. Pour le créer, il suffit de cliquer sur le
    bouton
    <b>Créer dessin</b>.
    <br /><br />
    <img
        src="../../assets/new-user-guide/newDrawing-module.PNG"
        alt="New Drawing module"
    >
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.grid)">
    La fonctionnalité de grille permet de mettre un grillage par dessus la zone de dessin afin de vous permettre de
    dessiner plus précisement.
    <br /><br />
    La grille peut être activée en tout temps grâce à la touche <b>G</b> ou en cliquant sur l'icone suivant dans la
    barre latérale gauche :
    <br />
    <mat-icon>grid_on</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Autres</b> de la barre de navigation :
    <br /><br />
    <img
        src="../../assets/new-user-guide/grid-tool.PNG"
        alt="Grid tool"
    >
    <br /><br />
    On peut changer la taille de la grille en tout temps grâce aux touches <b>+</b> et <b>-</b> ou en saisissant la
    taille dans la case <b>Taille de la grille</b> :
    <br /><br />
    <img
        src="../../assets/new-user-guide/grid-size.PNG"
        alt="Grid size"
    >
    <br /><br />
    Il y a aussi l'option de choisir l'opacité de la grille grâce au bouton <b>Opacité</b> en glissant le bouton sur la 
    barre. Le bouton <b>Afficher la grille</b> permet d'activer ou de désactiver la grille.
    <br /><br />
    <img
        src="../../assets/new-user-guide/grid-changes.PNG"
        alt="Grid changes"
    >
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.exportTool)">
    La fonctionnalité d'export vous permet de télécharger votre dessin en trois formats différents : JPEG, PNG ou SVG.
    Vous pouvez soit exporter votre dessin localement sur votre ordinateur ou envoyer votre dessin par courriel.
    <br /><br />
    Pour exporter un dessin il suffit d'utiliser le raccourci <b>CTRL+E</b> ou de cliquer sur l'icone suivant dans la
    barre latérale gauche :
    <br />
    <mat-icon>get_app</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Autres</b> de la barre de navigation :
    <br /><br />
    <img
        src="../../assets/new-user-guide/export-tool.PNG"
        alt="Export tool"
    >
    <br /><br />
    Pour exporter le dessin, il faut entrer un nom dans le champs <b>Nom</b>, choisir le format de l'image dans le
    champs <b>Format</b> (JPG, PNG ou SVG) en cliquant sur le format voulu. Vous pouvez appliquer un des filtres
    (démontré plus loin) dans le menu defilant a droite puis choisir le format d'export dans le menu défilant de gauche.
    Pouyr les formats d'exportation, <b>Télécharger</b> permet de télécharger l'image localement sur votre ordinateur et
    <b>Envoyer par courriel</b> permet d'envoyer le dessin par courriel à l'adresse courriel de votre choix.
    <br /><br />
    Voici un exemple d'exportation local avec le filtre <b>Vielli</b> :
    <br /><br />
    <img
        src="../../assets/new-user-guide/export-local.PNG"
        alt="Export local"
    >
    <br /><br />
    Voici un exemple d'exportation par courriel avec le filtre <b>Couleurs inversées</b>. Lors d'une exportation par
    courriel, il faut entrer l'adresse courriel du destinataire dans le champs <b>Mail</b> et le nom de l'auteur dans le
    champs <b>Auteur</b>.
    <br /><br />
    <img
        src="../../assets/new-user-guide/export-mail.PNG"
        alt="Export mail"
    >
    <br /><br />
    Voici les 5 filtres que vous pouvez appliquer sur votre dessin : Noir et blanc, vieilli, couleurs inversée, saturé
    et flou.
    <br /><br />
    <img
        src="../../assets/new-user-guide/black-white-export.png"
        alt="Black and white"
    >
    <img
        src="../../assets/new-user-guide/old-export.png"
        alt="Old"
    >
    <img
        src="../../assets/new-user-guide/reverse-export.png"
        alt="Reverse"
    >
    <img
        src="../../assets/new-user-guide/saturate-export.png"
        alt="Saturate"
    >
    <img
        src="../../assets/new-user-guide/fuzzy-export.png"
        alt="Fuzzy"
    >
    <br /><br />
    Finalement, pour exporter le dessin, il suffit de cliquer sur <b>Exporter</b> une fois que tout les champs sont
    remplis.
    <br /><br />
    Voici un exemple d'utilisation de l'export :
    <br /><br />
    <img
        src="../../assets/new-user-guide/export.gif"
        alt="Export"
    >
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.undoRedo)">
    La fonctionnalité annuler-refaire vous permet d'annuler les dernièes actions effectué et de refaire les actions
    annulées.
    <br /><br />
    La fonctionnalité annuler permet d’annuler la dernière action réalisée, elle peut être appelée un nombre
    illimité de fois. Il est possible d'annuler une action avec le raccourci <b>CTRL+Z</b>. Il est aussi possible
    d'annuler la derniere action grâce au bouton suivant qui se trouve dans la barre latérale gauche :
    <br />
    <mat-icon>undo</mat-icon>
    <br />
    La fonctionnalité refaire permet de refaire toutes les actions annulées, une à la fois, dans l’ordre inverse.
    Il est possible de refaire une action avec le raccourci <b>CTRL + SHIFT + Z</b>. Il est aussi possible de refaire la
    derniere action grâce au bouton suivant qui se trouve dans la barre latérale gauche :
    <br />
    <mat-icon>redo</mat-icon>
    <br />
    Ces deux boutons se trouvent dans la section <b>Autres</b> de la barre latérale :
    <br /><br />
    <img
        src="../../assets/new-user-guide/undoRedo-tool.PNG"
        alt="Undo Redo tool"
    >
    <br /><br />
    <img
        src="../../assets/new-user-guide/undo-redo.gif"
        alt="Undo Redo tool"
    >
    <br /><br />
    Une nouvelle action élimine la pile des actions annulées pouvant être refaite.
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.gallery)">
    La galerie de dessin vous permet de récupérer un dessin stocké sur le serveur, précédemment sauvegardé.
    <br /><br />
    Pour utiliser cette fonctionnalité, il suffit d'appuyer sur la touche <b>CTRL + G</b> ou de cliquer sur l'icone
    suivant dans la barre latérale gauche:
    <br />
    <mat-icon>crop_original</mat-icon>
    <br />
    Cette icone se trouve tout en bas de la barre de navigation :
    <br /><br />
    <img
        src="../../../assets/new-user-guide/gallery-tool.PNG"
        alt="Gallery tool"
    >
    <br /><br />
    Il est possible de filtrer les dessins dans la galerie à l'aide d'un filtrage par étiquette. Chaque recherche peut
    être séparée en appuyant sur la touche <b>espace</b>, la touche <b>entrée</b> ou la <b>virgule</b>. Les résultats
    d'une recherche
    correspondent à tous les dessins comportants au moins une des étiquettes mentionnées.
    <br /><br />
    Vous pouvez ouvrir un dessin en appuyant sur le bouton <b>OUVRIR</b>.
    <br /><br />
    Vous pouvez supprimer un dessin de la galerie en appuyant sur le bouton <b>SUPPRIMER</b>.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/gallery.gif"
        alt="Gallery tool"
    >
</p>
<div *ngIf="userGuideService.checkPageNumber(userGuideService.pages.shortcuts)">
    <p>
        <b> Options de fichier </b>
        <br />
        <br />
        Voici l'ensemble des raccourcis clavier que supporte Poly-Dessin:
    </p>
    <table>
        <tr>
            <th>Fonctionnalité</th>
            <th>Raccourci</th>
        </tr>
        <tr>
            <td>Créer un nouveau dessin</td>
            <td>Ctrl-O</td>
        </tr>
        <tr>
            <td>Sauvegarder le dessin</td>
            <td>Ctrl-S</td>
        </tr>
        <tr>
            <td>Ouvrir la galerie de dessins</td>
            <td>Ctrl-G</td>
        </tr>
        <tr>
            <td>Exporter le dessin</td>
            <td>Ctrl-E</td>
        </tr>
    </table>
    <p>
        <b> Manipulations de sélection </b>
    </p>
    <table>
        <tr>
            <th>Fonctionnalité</th>
            <th>Raccourci</th>
        </tr>
        <tr>
            <td>Couper la sélection</td>
            <td>Ctrl-X</td>
        </tr>
        <tr>
            <td>Copier la sélection</td>
            <td>Ctrl-C</td>
        </tr>
        <tr>
            <td>Coller la sélection</td>
            <td>Ctrl-V</td>
        </tr>
        <tr>
            <td>Dupliquer la sélection</td>
            <td>Ctrl-D</td>
        </tr>
        <tr>
            <td>Supprimer la sélection</td>
            <td>Supprimer</td>
        </tr>
        <tr>
            <td>Tout sélectionner</td>
            <td>Ctrl-A</td>
        </tr>
        <tr>
            <td>Déplacer la selection</td>
            <td>Fleches du clavier</td>
        </tr>
        <tr>
            <td>Annuler</td>
            <td>Ctrl-Z</td>
        </tr>
        <tr>
            <td>Refaire</td>
            <td>Ctrl-Shift-Z</td>
        </tr>
    </table>
    <p>
        <b> Choisir un outil </b>
    </p>
    <table>
        <tr>
            <th>Outil</th>
            <th>Raccourci</th>
        </tr>
        <tr>
            <td>Sélection</td>
            <td>S</td>
        </tr>
        <tr>
            <td>Crayon</td>
            <td>C</td>
        </tr>
        <tr>
            <td>Pinceau</td>
            <td>W</td>
        </tr>
        <tr>
            <td>Aérosol</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Rectangle</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Ellipse</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Polygone</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Ligne</td>
            <td>L</td>
        </tr>
        <tr>
            <td>Applicateur de couleur</td>
            <td>R</td>
        </tr>
        <tr>
            <td>Pipette</td>
            <td>I</td>
        </tr>
        <tr>
            <td>Sceau de peinture</td>
            <td>B</td>
        </tr>
        <tr>
            <td>Annuler sceau de peinture (pendant remplissage)</td>
            <td>Esc</td>
        </tr>
        <tr>
            <td>Efface</td>
            <td>E</td>
        </tr>
    </table>
    <p>
        <b> Options de zone de travail </b>
    </p>
    <table>
        <tr>
            <th>Fonctionnalité</th>
            <th>Raccourci</th>
        </tr>
        <tr>
            <td>Afficher / masquer la grille</td>
            <td>G</td>
        </tr>
        <tr>
            <td>Augmenter la taille des carrés de la grille au prochain multiple de 5</td>
            <td>+</td>
        </tr>
        <tr>
            <td>Diminuer la taille des carrés de la grille au prochain multiple de 5</td>
            <td>-</td>
        </tr>
    </table>
</div>
<div *ngIf="userGuideService.checkPageNumber(userGuideService.pages.clipboard)">
    <p>
        Le presse papier vous permet de copier, coller, couper, dupliquer et supprimer des elements de votre dessin.
        <br /><br />
        Le presse papier est seulement utilisable si un ou des objets sont selectionné. Pour pouvoir alors utiliser la
        fonctionnalité de presse-papier dans l'application, il faut soit être dans l'outil de sélection et sélectionner
        les
        objets voulu ou utiliser le raccourci <b>CTRL + A</b> depuis n'importe quelle point de l'application pour tout
        selectionner et ainsi utiliser le presse-papier sur tout les objets dans le dessin.
        <br /><br />
        Les touches principales du presse-papier sont les suivants :
    </p>
    <table>
        <tr>
            <th>Fonctionnalité</th>
            <th>Raccourci</th>
            <th>Icone correspondant</th>
        </tr>
        <tr>
            <td>Couper la sélection</td>
            <td>Ctrl-X</td>
            <td>
                <mat-icon>flip_to_back</mat-icon>
            </td>
        </tr>
        <tr>
            <td>Copier la sélection</td>
            <td>Ctrl-C</td>
            <td>
                <mat-icon>file_copy</mat-icon>
            </td>
        </tr>
        <tr>
            <td>Coller la sélection</td>
            <td>Ctrl-V</td>
            <td>
                <mat-icon>layers</mat-icon>
            </td>
        </tr>
        <tr>
            <td>Dupliquer la sélection</td>
            <td>Ctrl-D</td>
            <td>
                <mat-icon>library_add</mat-icon>
            </td>
        </tr>
        <tr>
            <td>Supprimer la sélection</td>
            <td>Supprimer</td>
            <td>
                <mat-icon>delete_forever</mat-icon>
            </td>
        </tr>
        <tr>
            <td>Tout sélectionner</td>
            <td>Ctrl-A</td>
            <td>
                <mat-icon>select_all</mat-icon>
            </td>
        </tr>
    </table>
</div>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.saveDrawing)">
    La fonctionnalité de sauvegarde de dessin vous permet de sauvegarder un dessin dans la gallerie de dessin.
    <br /><br />
    Pour sauvegarder un dessin il suffit d'utiliser le raccourci <b>CTRL+S</b> ou de cliquer sur l'icone suivant dans la
    barre latérale gauche:
    <br />
    <mat-icon>save</mat-icon>
    <br />
    Cette icone se trouve tout en bas de la barre de navigation :
    <br /><br />
    <img
        src="../../assets/new-user-guide/saveDrawing-tool.PNG"
        alt="Save drawing tool"
    >
    <br /><br />
    Pour sauvegarder un dessin, il faut donner le nom du dessin dans le champs <b>Nom du dessin</b> de la modale de
    sauvegarde. Vous pouvez aussi rajouter des étiquettes au dessin dans le champs <b>Etiquettes</b>. Vous ne pouvez que
    mettre 4 étiquettes au maximum.
    <br /><br />
    <img
        src="../../assets/new-user-guide/saveDrawing-changes.PNG"
        alt="Save drawing changes"
    >
    <br /><br />
    Finalement, pour le sauvegarder, il suffit d'appuyer sur le bouton <b>Sauvegarder</b>, et le dessin est alors
    sauvegardé sur le serveur.
</p>