<mat-dialog-content>
    <p>
        {{message}}
    </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button
        mat-raised-button
        color="primary"
        (click)="closeDialog()"
        tabindex="1"
    >
        Oui
    </button>
    <button
        mat-raised-button
        mat-dialog-close
        tabindex="-1"
    >
        Non
    </button>
</mat-dialog-actions>
