<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.pencil)">
    L'outil crayon permet de dessiner libremement.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>C</b> ou de cliquer sur l'icone suivant dans la barre 
    latérale gauche: 
    <br />
    <mat-icon>edit</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation : 
    <br /><br />
    <img
        src="../../../assets/new-user-guide/pencil-tool.png"
        alt="pencil tool icon"
    >
    <br /><br />
    Vous pouvez choisir la taille (en pixels) en entrant la taille voulue dans la case <b>Taille de la pointe</b> (image ci-dessous).
    <br /><br />
    <img
        src="../../../assets/new-user-guide/pencil-size.png"
        alt="pencil tool size"
    >
    <br /><br />
    Vous pouvez aussi choisir la couleur du crayon en cliquant sur le carré coloré de la couleur principale. La pointe 
    du crayon prend en tout temps la couleur de la couleur principale.
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.brush)">
    L'outil pinceau permet de dessiner librement, mais avec plusieurs effets de pinceaux.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>W</b> ou de cliquer sur l'icone suivant dans la barre 
    latérale gauche: 
    <br />
    <mat-icon>brush</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation : 
    <br /><br />
    <img
        src="../../../assets/new-user-guide/brush-tool.png"
        alt="brush tool"
    >
    <br /><br />
    Vous pouvez choisir la taille (en pixels) en entrant la taille voulue dans la case <b>Taille de la pointe</b> (image ci-dessous).
    <br /><br />
    <img
        src="../../../assets/new-user-guide/brush-size.png"
        alt="brush tool size"
    >
    <br /><br />
    Vous pouvez choisir la texture du pinceau avec le menu defilant du <b>Type de texture</b>. 
    Il y a 5 textures de pinceaux differents: flouté, bombé, brouillard, chaos et ombre.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/brush-filter.PNG"
        alt="brush filter"
    >
    <br /><br />
    Vous pouvez aussi choisir la couleur du pinceau en cliquant sur le carré coloré de la couleur principale. La pointe 
    du pinceau prend en tout temps la couleur de la couleur principale.
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.spray)">
    L'outil aérosol permet de dessiner en simulant l'effet de peinture d'un aérosol.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>A</b> ou de cliquer sur l'icone suivant dans la barre 
    latérale gauche: 
    <br />
    <mat-icon>blur_on</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation : 
    <br /><br />
    <img
        src="../../../assets/new-user-guide/spray-tool.PNG"
        alt="spray icon"
    >
    <br /><br />
    Vous pouvez choisir le diametre maximal du jet (en pixels) en entrant le diametre voulu dans la case 
    <b>Diametre du jet</b> (image ci-dessous).
    <br /><br />
    <img
        src="../../../assets/new-user-guide/spray-size.PNG"
        alt="spray size"
    >
    <br /><br />
    A chaque émission, l'aérosol émet une dizaine de points dans le diametre specifié autour de la souris.
    Vous pouvez choisir le nombre d'émissions par secondes dans la case <b>Emissions par secondes</b> :
    <br /><br />
    <img
        src="../../../assets/new-user-guide/spray-emissions.PNG"
        alt="spray tool emissions"
    >
    <br /><br />
    Vous pouvez aussi choisir la couleur de l'aérosol en cliquant sur le carré coloré de la couleur principale. 
    L'aérosol prend en tout temps la couleur de la couleur principale.
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.eraser)">
    L'outil efface permet d'éffacer des élément de la surface de dessin.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>E</b> ou de cliquer sur l'icone suivant dans la barre 
    latérale gauche: 
    <br />
    <mat-icon>how_to_vote</mat-icon>
    <br />
    Cet icone se trouve dans la section <b>Outils</b> de la barre de navigation : 
    <br /><br />
    <img
        src="../../../assets/new-user-guide/eraser-tool.PNG"
        alt="eraser tool"
    >
    <br /><br />
    Lorsque vous survolez des éléments avec l'efface, ceux-ci sont colorés en rouge (ou assombris si ils étaient deja rouge).
    Vous pouvez effacer des éléments en cliquant dessus avec l'efface, ou en gardant le clic enfoncé et en vous servant de l'efface comme 
    une brosse.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/eraser.gif"
        alt="eraser tool"
    >
</p>
