<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.line)">
    L'outil trait permet de dessiner des traits de tailles, couleurs et angles spécifiques.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>L</b> ou de cliquer sur l'icone suivant dans la barre
    latérale gauche:
    <br />
    <mat-icon>remove</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation :
    <br /><br />
    <img
        src="../../../assets/new-user-guide/line-tool.PNG"
        alt="line tool"
    >
    <br /><br />
    Vous pouvez choisir la taille (en pixels) en entrant la taille voulue dans la case <b>Epaisseur</b> :
    <br /><br />
    <img
        src="../../../assets/new-user-guide/line-size.PNG"
        alt="line size"
    >
    <br /><br />
    Lorsque vous appuyez sur la touche <b>Shift</b>, la ligne va prendre un l'angle le plus proche parmis les suivants :
    0, 45, 90, 135, 180, 225, 270 et 315 degrés.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/line.gif"
        alt="line"
    >
    <br /><br />
    Il y a 2 types de jonctions entre les lignes, la jonction normale et la jonction point, qui se modifie dans le
    champs <b>Type jonction</b>. Avec le type de jonction à "point", vous pouvez choisir la taille des points de
    jonction dans la case <b>Epaisseur jonction</b>.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/line-junction.PNG"
        alt="line junction"
    >
    <br /><br />
    Pour arrêter un trait, il suffit de double-cliquer !
    <br /><br />
    Si, lors de la création d'un trait, vous voulez supprimer le dernier segment créé, il suffit d'appuyer sur la touche
    <b>Delete</b> de votre clavier.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/undo-line.gif"
        alt="Undo line"
    >
    <br /><br />
    Vous pouvez aussi choisir la couleur du trait en cliquant sur le carré coloré de la couleur principale. La ligne
    prend en tout temps la couleur de la couleur principale.
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.rectangle)">
    L'outil rectangle permet de dessiner des rectangles.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>1</b> ou de cliquer sur l'icone suivant dans la barre
    latérale gauche:
    <br />
    <mat-icon>crop_landscape</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation :
    <br /><br />
    <img
        src="../../../assets/new-user-guide/rectangle-tool.PNG"
        alt="Rectangle tool"
    >
    <br /><br />
    Pour déssiner un rectangle, il suffit de faire un glisser-déposer sur la surface de dessin.
    <br /><br />
    Vous pouvez choisir la taille (en pixels) du contour en entrant la taille voulue dans la case <b>Epaisseur</b>.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/rectangle-size.PNG"
        alt="rectangle size"
    >
    <br /><br />
    La couleur principale est celle du remplisage et la couleur secondaire est celle des bordures.
    <br /><br />
    Vous pouvez aussi choisir le type de rectangle voulu : contour, plein ou plein avec contour. Le type contour dessine
    seulement le contour du rectangle avec la couleur secondaire et laisse l'intérieur vide, le type plein rempli
    l'intérieur du rectangle avec la couleur principale sans dessiner un contour, et le type plein avec contour dessine
    le contour du rectangle avec la couleur secondaire et le rempli avec la couleur principale. Vous pouvez sélectionner
    le type de rectangle dans la case <b>Type de tracé</b>.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/rectangle-type.PNG"
        alt="rectangle tool type"
    >
    <br /><br />
    Pour dessiner un carré, il faut maintenir la touche <b>Shift</b> enfoncé lors de la création du rectangle. Quand la
    touche <b>Shift</b> est relachée, la forme redevient un rectangle.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/rect.gif"
        alt="rectangle"
    >
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.polygon)">
    L'outil polygone permet de créer des polygone réguliers de 3 a 12 cotés.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>3</b> ou de cliquer sur l'icone suivant dans la barre
    latérale gauche:
    <br />
    <mat-icon>change_history</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation :
    <br /><br />
    <img
        src="../../../assets/new-user-guide/polygon-tool.PNG"
        alt="polygon tool"
    >
    <br /><br />
    Pour dessiner un polygone, il suffit de faire un glisser-déposer sur la surface de dessin.
    <br /><br />
    Il est possible de choisir le nombre de cotés du polygone (entre 3 et 12) grâce au champs <b>Nombre de cotés</b>.
    Vous pouvez choisir la taille (en pixels) du contour en entrant la taille voulue dans la case <b>Epaisseur</b>.
    Vous pouvez aussi choisir le type de polygone voulu : contour, plein ou plein avec contour, grâce au menu défilant
    <b>Type de tracé</b>.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/polygon-changes.PNG"
        alt="polygon sides"
    >
    <br /><br />
    La couleur principale est celle du remplisage et la couleur secondaire est celle des bordures.
</p>
<p *ngIf="userGuideService.checkPageNumber(userGuideService.pages.ellipse)">
    L'outil éllipse permet le dessin d'éllipse de taille réglable.
    <br /><br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>2</b> ou de cliquer sur l'icone suivant dans la barre
    latérale gauche:
    <br />
    <mat-icon>panorama_fish_eye</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation :
    <br /><br />
    <img
        src="../../../assets/new-user-guide/ellipse-tool.PNG"
        alt="ellipse tool"
    >
    <br /><br />
    Pour dessiner une ellipse, il suffit de faire un glisser-déposer sur la surface de dessin.
    <br /><br />
    Vous pouvez choisir la taille (en pixels) du contour en entrant la taille voulue dans la case <b>Epaisseur</b>.
    Vous pouvez aussi choisir le type de ellipse voulu : contour, plein ou plein avec contour, grâce au menu défilant
    <b>Type de tracé</b>.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/ellipse-changes.PNG"
        alt="ellipse changes"
    >
    <br /><br />
    La couleur principale est celle du remplisage et la couleur secondaire est celle des bordures.
    <br /><br />
    Pour dessiner un cercle, il faut maintenir la touche <b>Shift</b> enfoncé lors de la creation d'une ellipse. Quand
    la touche <b>Shift</b> est relachée, la forme redevient une ellipse.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/circle.gif"
        alt="circle"
    >
</p>