<h2>Ligne</h2>
<p class="sizeText">Epaisseur du trait : &nbsp;</p>
<mat-form-field class="formFieldInput">
    <input
        matInput
        type="number"
        [(ngModel)]="size"
        [disabled]="clickCounter > 0"
        min="1"
        max="200"
        (change)="changeSize()"
        (mousedown)="stateSelector.isModifyingInput=true"
    />
</mat-form-field>

<div class="sizeButtonsText">
    <div class="sizeButtons">
        <button
            mat-icon-button
            (click)="increaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
        </button>
        <button
            mat-icon-button
            (click)="decreaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <p class="pxText">px</p>
</div>

<p class="sizeText">Type jonction : &nbsp;</p>
<mat-form-field class="formFieldSelect">
    <mat-select
        [(value)]="isNormalJunction"
        [disabled]="clickCounter > 0"
    >
        <mat-option [value]="true">Normale</mat-option>
        <mat-option [value]="false">Point</mat-option>
    </mat-select>
</mat-form-field>
<div *ngIf="!isNormalJunction">
    <p class="sizeText">Epaisseur jonction : &nbsp;</p>
    <mat-form-field class="formFieldInput">
        <input
            matInput
            type="number"
            [(ngModel)]="junctionSize"
            [disabled]="clickCounter > 0"
            min="1"
            max="200"
            (change)="changeJunctionSize()"
            (mousedown)="stateSelector.isModifyingInput=true"
        />
    </mat-form-field>

    <div class="sizeButtonsText">
        <div class="sizeButtons">
            <button
                mat-icon-button
                (click)="increaseJunctionSize()"
            >
                <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
            </button>
            <button
                mat-icon-button
                (click)="decreaseJunctionSize()"
            >
                <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
            </button>
        </div>
    <p class="pxText">px</p>
    </div>
</div>

<app-color></app-color>
