* {
    font-family: gotham, sans-serif !important;
}

mat-sidenav-container {
    height: 100%;
    background-color: white;
}

mat-sidenav {
    background: #f1f1f1;
    border-right: solid #979797;
    border-width: 0.01em;
    width: 15em;
    padding: 1em 1em 1em 1em;
}

.sidenavDescription {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
}

.mainTitle {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 2em;
    width: auto;
    padding: 0 1em;
    border-bottom: 1px solid #979797;
    color: #454545;
    cursor: pointer;
    text-decoration: none;
}

.mainTitle:hover {
    color: #ff0000;
}

.subTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2em;
    width: auto;
    padding: 0 1em;
    border-bottom: 0.01em solid #dfdfdf;
    color: #454545;
    cursor: pointer;
    text-decoration: none;
}

.selected {
    background: rgb(180, 177, 177);
}

.subTitle:hover {
    color: #ff0000;
}

details summary::-webkit-details-marker {
    display: none;
}

.description {
    text-align: center;
    flex: 1 0 auto;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0.1%;
    margin-bottom: 1%;
}

.buttonsPreviousNext {
    position: static;
    padding: 1em 1em 1em 1em;
    border-top: 1px solid #979797;
    margin-bottom: 3em;
}

.buttonPrevious {
    float: left;
}

.buttonNext {
    float: right;
}

.buttonClose {
    position: fixed;
    right: 1.2em;
    top: 0.8em;
    color: #000000;
    background-color: rgb(25, 118, 210) !important;
}

mat-icon {
    font-family: 'Material Icons' !important;
}

footer {
    flex-shrink: 0;
}

img {
    border-style: solid;
    border-width: thin;
}
