<mat-sidenav-container class="toolBar">
    <mat-sidenav
        mode="side"
        opened
        [disableClose]="true"
    >
        <div
            class="mainTitle"
            [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.default)"
            (click)="userGuideService.goToPage(userGuideService.pages.default)"
        >
            Bienvenue
        </div>
        <details
            id="states"
            [open]="userGuideService.currentPage != 0"
        >
            <summary
                class="mainTitle"
                opened
            ><b>Outils</b></summary>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.pencil)"
                (click)="userGuideService.goToPage(userGuideService.pages.pencil)"
            >
                Crayon
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.brush)"
                (click)="userGuideService.goToPage(userGuideService.pages.brush)"
            >
                Pinceau
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.line)"
                (click)="userGuideService.goToPage(userGuideService.pages.line)"
            >
                Ligne
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.rectangle)"
                (click)="userGuideService.goToPage(userGuideService.pages.rectangle)"
            >
                Rectangle
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.color)"
                (click)="userGuideService.goToPage(userGuideService.pages.color)"
            >
                Couleur
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.spray)"
                (click)="userGuideService.goToPage(userGuideService.pages.spray)"
            >
                Aérosol
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.colorApplicator)"
                (click)="userGuideService.goToPage(userGuideService.pages.colorApplicator)"
            >
                Applicateur de couleur
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.selection)"
                (click)="userGuideService.goToPage(userGuideService.pages.selection)"
            >
                Selection
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.eraser)"
                (click)="userGuideService.goToPage(userGuideService.pages.eraser)"
            >
                Efface
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.polygon)"
                (click)="userGuideService.goToPage(userGuideService.pages.polygon)"
            >
                Polygone
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.ellipse)"
                (click)="userGuideService.goToPage(userGuideService.pages.ellipse)"
            >
                Ellipse
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.colorPicker)"
                (click)="userGuideService.goToPage(userGuideService.pages.colorPicker)"
            >
                Pipette
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.paintBucket)"
                (click)="userGuideService.goToPage(userGuideService.pages.paintBucket)"
            >
                Sceau de peinture
            </div>
        </details>
        <details
            id="states"
            [open]="userGuideService.currentPage != 0"
        >
            <summary
                class="mainTitle"
                opened
            ><b>Autres Fonctionnalités</b></summary>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.newDrawing)"
                (click)="userGuideService.goToPage(userGuideService.pages.newDrawing)"
            >
                Nouveau dessin
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.grid)"
                (click)="userGuideService.goToPage(userGuideService.pages.grid)"
            >
                Grille
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.exportTool)"
                (click)="userGuideService.goToPage(userGuideService.pages.exportTool)"
            >
                Exporter un dessin
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.undoRedo)"
                (click)="userGuideService.goToPage(userGuideService.pages.undoRedo)"
            >
                Annuler-refaire
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.gallery)"
                (click)="userGuideService.goToPage(userGuideService.pages.gallery)"
            >
                Gallerie de dessin
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.clipboard)"
                (click)="userGuideService.goToPage(userGuideService.pages.clipboard)"
            >
                Presse papier
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.saveDrawing)"
                (click)="userGuideService.goToPage(userGuideService.pages.saveDrawing)"
            >
                Sauvegarder un dessin
            </div>
            <div
                class="subTitle"
                [class.selected]="userGuideService.checkPageNumber(userGuideService.pages.shortcuts)"
                (click)="userGuideService.goToPage(userGuideService.pages.shortcuts)"
            >
                Raccourcis clavier
            </div>
        </details>
    </mat-sidenav>
    <mat-sidenav-content class="sidenavDescription">
        <button
            mat-mini-fab
            class="buttonClose"
            (click)="userGuideService.closeGuide()"
        >
            <mat-icon>clear</mat-icon>
        </button>
        <div class="description">
            <div *ngIf="userGuideService.checkPageNumber(userGuideService.pages.default)">
                <h2>Bienvenue à la documentation de PolyDessin! </h2>
                <p>
                    Pour utiliser cette documentation, rien de plus simple: 
                    <br />
                    Vous pouvez cliquer sur la catégorie voulue, puis sur le sujet voulu ou vous pouvez utiliser les boutons
                    <b>précedent</b> et <b>suivant</b>.
                    <br /><br />
                    Vous pouvez en tout temps ouvrir la documentation grace a l'icone suivant :
                    <br />
                        <mat-icon>import_contacts</mat-icon>
                    <br />
                    Cet icone se trouve tout en bas de la barre de navigation : 
                    <br /><br />
                    <img
                        src="../../../assets/new-user-guide/userGuide-tool.PNG"
                        alt="User guide tool"
                    >
                </p>
            </div>
            <app-drawing-doc></app-drawing-doc>
            <app-shape-doc></app-shape-doc>
            <app-color-doc></app-color-doc>
            <div *ngIf="userGuideService.checkPageNumber(userGuideService.pages.selection)">
                <app-selection-doc></app-selection-doc>
            </div>
            <app-functionalities-doc></app-functionalities-doc>
        </div>
        <footer>
            <nav>
                <div class="buttonsPreviousNext">
                    <button
                        mat-raised-button
                        class="buttonPrevious"
                        *ngIf="userGuideService.currentPage > 0"
                        (click)="userGuideService.goToPreviousPage()"
                    >
                        <mat-icon>keyboard_arrow_left</mat-icon>Précédent
                    </button>
                    <button
                        mat-raised-button
                        class="buttonNext"
                        *ngIf="userGuideService.currentPage < userGuideService.NUMBER_OF_PAGES - 1"
                        (click)="userGuideService.goToNextPage()"
                    >
                        Suivant<mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </nav>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>