<div class='dialog'>
    <header>
        <h1>Exporter le dessin</h1>
    </header>
    <div class="row">
        <div class="column">
            <div>
                <h4>Nom : &nbsp;</h4>
                <mat-form-field>
                    <input
                        matInput
                        type="string"
                        maxlength="20"
                        placeholder="Entrez un nom pour votre dessin"
                        [(ngModel)]="name"
                        required
                    />
                    <mat-error *ngIf="name.length === 0">Un nom doit être renseigné</mat-error>
                </mat-form-field>
            </div>
            <div>
                <h4>Format : &nbsp;</h4>
                <mat-button-toggle-group [(value)]="fileType">
                    <mat-button-toggle
                        value="jpeg"
                        checked
                    >
                        JPG
                    </mat-button-toggle>
                    <mat-button-toggle value="png">
                        PNG
                    </mat-button-toggle>
                    <mat-button-toggle value="svg">
                        SVG
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div>
                <mat-form-field class="formFieldSelect">
                    <mat-select [(value)]="isDownload">
                        <mat-option [value]="true">Télécharger</mat-option>
                        <mat-option [value]="false">Envoyer par courriel</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="!isDownload">
                <h4>Courriel : &nbsp;</h4>
                <mat-form-field>
                    <input
                        matInput
                        type="string"
                        maxlength="100"
                        [(ngModel)]='email'
                        placeholder="Entrez le courriel du destinataire"
                        [formControl]="emailValidator"
                        required
                    />
                    <mat-error *ngIf="emailValidator.invalid">{{getErrorMail()}}</mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="!isDownload">
                <h4>Auteur : &nbsp;</h4>
                <mat-form-field>
                    <input
                        matInput
                        type="string"
                        maxlength="20"
                        placeholder="Entrez le nom de l'auteur"
                        [(ngModel)]="author"
                        required
                    />
                    <mat-error *ngIf="name.length === 0">Un nom doit être renseigné</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div
            #previsualization
            class="column"
            [class.show]="svgCanvas && svgCanvas.childNodes.length!= 0"
        >
            <div>
                <mat-form-field class="formFieldSelect">
                    <mat-select
                        [(value)]="filter"
                        (selectionChange)=applyFilter()
                    >
                        <mat-option [value]="0">Aucun filtre</mat-option>
                        <mat-option [value]="1">Noir et blanc</mat-option>
                        <mat-option [value]="2">Vieilli</mat-option>
                        <mat-option [value]="3">Couleurs inversées</mat-option>
                        <mat-option [value]="4">Saturé</mat-option>
                        <mat-option [value]="5">Flouté</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div
            class="column"
            *ngIf="(!svgCanvas) || svgCanvas.childNodes.length === 0"
        >
            Export impossible : le canvas est vide.
        </div>
    </div>

    <button
        mat-raised-button
        class='export'
        [disabled]="((emailValidator.invalid || author.length === 0) && !isDownload) ||
                    name.length === 0 ||
                    (!svgCanvas) ||
                    svgCanvas.childNodes.length === 0"
        (click)="confirmDialog()"
    >
        Exporter
    </button>
    <a #export></a>
    <button
        mat-raised-button
        class='cancel'
        (click)='closeDialog()'
    >
        Annuler
    </button>
</div>
<canvas
    #htmlCanvas
    hidden
></canvas>
