* {
    box-sizing: border-box;
    font-family: gotham, sans-serif !important;
}

header {
    background-color: rgb(50, 108, 165);
    padding: 3%;
    color: white;
    text-align: center;
    margin: -24px;
}

h1 {
    font-weight: normal;
    font-size: 2em;
}

h4 {
    text-align: center;
    float: left;
}

mat-form-field {
    position: sticky;
    width: 70%;
}

.formFieldSelect {
    width: 80%;
}

div {
    width: 100%;
    display: inline-block;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.cancel {
    background-color: rgb(185, 17, 17);
    float: right;
}

.export {
    background-color: rgb(4, 119, 4);
    float: left;
}

.title {
    color: white;
}

.mat-button-toggle-checked {
    background-color: rgb(220, 0, 0);
}
