<header>
    <h1>Gallerie des dessins</h1>
</header>

<div [hidden]='loading'>
    <mat-form-field class="form-field">
        <mat-chip-list #chipList>
            <mat-chip
                *ngFor="let label of labels"
                [selectable]="true"
                [removable]="true"
                (removed)="removeLabel(label)"
            >
                {{label}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
                placeholder="Etiquettes"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addLabel($event)"
                maxlength="15"
            >
        </mat-chip-list>
        <mat-hint align="end">15 Charactères max par étiquette.</mat-hint>
    </mat-form-field>
    <div class="box">
        <mat-card *ngFor='let drawing of drawingsToDisplay'>
            <mat-card-header>
                <mat-card-title>{{drawing.metaDrawing.name}}</mat-card-title>
            </mat-card-header>
            <div
                #preview
                class='preview'
            ></div>
            <mat-card-content>
                <mat-chip
                    class="label"
                    *ngFor="let label of drawing.metaDrawing.labels"
                >
                    {{label}}
                </mat-chip>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-button
                    (click)='openDrawing(drawing)'
                >OUVRIR</button>
                <button
                    mat-button
                    (click)='removeDrawing(drawing)'
                >SUPPRIMER</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <button
        mat-mini-fab
        class="buttonClose"
        (click)="closeDialog()"
    >
        <mat-icon>clear</mat-icon>
    </button>
</div>

<mat-spinner
    *ngIf='loading'
    class="spinner"
></mat-spinner>
