* {
    box-sizing: border-box;
    font-family: gotham, sans-serif !important;
}

header {
    background-color: rgb(50, 108, 165);
    padding: 3%;
    color: white;
    text-align: center;
    margin: -24px;
}

h1 {
    font-weight: normal;
    font-size: 2em;
}

.form-field {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(50, 108, 165);
}

.label {
    margin: 1%;
}

mat-card {
    width: 23%;
    margin: 1%;
    height: 20%;
}

.box {
    display: flex;
    flex-flow: row wrap;
}

mat-icon {
    font-family: 'Material Icons' !important;
}

.buttonClose {
    position: absolute;
    right: 12%;
    top: 12%;
    background-color: grey;
}

.spinner {
    margin: 0 auto;
}

.preview {
    width: 95%;
    height: 40%;
}
