h2 {
    text-align: center;
}

p {
    float: left;
    padding-top: 2%;
}

mat-form-field {
    padding-bottom: 0.3em;
    float: left;
    width: 15%;
    position: sticky;
}

.layoutType {
    width: 5em;
    float: left;
}

.mat-icon-button {
    line-height: unset;
    font-size: 18px;
    width: 22px;
    height: 22px;
    display: block;
 }

 .sizeButtons {
    padding-top: 0.4em;
    float: left;
 }

 .sizeButtonsText {
     display: inline-flex;
     align-items: center;
     margin-right: 30px;
 }

.pxText {
    padding-top: 0.4em;
}