<h2>Ellipse</h2>
<p>Epaisseur du trait : &nbsp;</p>
<mat-form-field class="sizeChange">
    <input
        matInput
        type="number"
        [(ngModel)]="size"
        min="0"
        max="200"
        (change)="changeSize()"
        (mousedown)="stateSelector.isModifyingInput=true"
        [disabled]="!stroke || isDrawing"
    />
</mat-form-field>

<div class="sizeButtonsText">
    <div class="sizeButtons">
        <button
            mat-icon-button
            [disabled]="isDrawing || !stroke"
            (click)="increaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
        </button>
        <button
            mat-icon-button
            [disabled]="isDrawing || !stroke"
            (click)="decreaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <p class="pxText">px</p>
</div>

<p>Type de tracé : &nbsp;</p>
<mat-form-field class="layoutType">
    <mat-select
        ng-model="myDropDown"
        [(value)]="selectedType"
        [disabled]="isDrawing"
        (selectionChange)="layoutType()"
    >
        <mat-option value="outline">Contour</mat-option>
        <mat-option value="fill">Plein</mat-option>
        <mat-option value="outlineAndFill">Plein avec contour</mat-option>
    </mat-select>
</mat-form-field>

<app-color></app-color>