h2 {
    text-align: center;
}

.sizeText {
    float: left;
    padding-top: 2%;
}

mat-form-field {
    float: left;
    position: sticky;
    width: 15%;
    padding-bottom: 1em;
}

.mat-icon-button {
    line-height: unset;
    font-size: 18px;
    width: 22px;
    height: 22px;
    display: block;
 }

 .sizeButtons {
    padding-top: 10px;
    float: left;
 }

p {
    padding-top: 22px;
}
