<h2>Efface</h2>
<p class="sizeText">Taille de l'efface : &nbsp;</p>
<mat-form-field>
    <input
        matInput
        type="number"
        [(ngModel)]="size"
        min="1"
        max="200"
        (change)="changeSize()"
        (click)="stateSelector.isModifyingInput=true"
    />
</mat-form-field>

<div class="sizeButtons">
    <button
        mat-icon-button
        (click)="increaseSize()"
    >
        <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
    </button>
    <button
        mat-icon-button
        (click)="decreaseSize()"
    >
        <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
    </button>
</div>
<p>px</p>
