h2 {
    text-align: center;
}

#switchColorButton {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.mainColor {
    float: left;
    margin-left: 20px;
    border-radius: 5px;
}

.secondaryColor {
    float: right;
    margin-right: 20px;
    border-radius: 5px;
}

.secondaryColorText {
    float: right;
    text-align: center;
}

.mainColorText {
    float: left;
    margin-left: 3px;
    text-align: center;
}

.modifyBackgroundColor {
    margin-top: 10px;
    background-color: rgb(25, 59, 92);
}