<h3>Palette de couleur</h3>
<canvas 
    width="40" 
    height="40" 
    [ngStyle]="{'background-color': mainColorSelection.inString}"
    (click)="openColorPicker(ColorChoice.mainColor)" 
    class=mainColor
></canvas>
<canvas 
    width="40" 
    height="40" 
    [ngStyle]="{'background-color': secondaryColorSelection.inString}"
    (click)="openColorPicker(ColorChoice.secondaryColor)" 
    class=secondaryColor
></canvas>
<button 
    mat-icon-button 
    (click)="switchColor()" 
    id="switchColorButton"
    matTooltip="Inverser les couleurs" 
    matTooltipPosition="after"
>
    <mat-icon>swap_horiz</mat-icon>
</button>
<div class=mainColorText>Couleur <br/> principale</div>
<div class=secondaryColorText>Couleur <br/> secondaire</div>

<button 
    mat-raised-button
    class="modifyBackgroundColor"
    (click)='openColorPicker(ColorChoice.backgroundColor)'
>
    <span class="title">Modifier couleur arrrière plan</span>
</button>