<mat-sidenav-container
    class="toolBar"
    fullscreen
>
    <mat-sidenav
        [ngClass]='sidenavClass'
        mode="side"
        opened
        [disableClose]="true"
    >
        <mat-list-item [ngClass]='sidenavClass'>
            <div class="sections">
                <p class="title"> Outils </p>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.selection)"
                    [class.selected]="isCorrectState(States.selection)"
                    matTooltip="Outil de sélection"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">touch_app</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.rectangle)"
                    [class.selected]="isCorrectState(States.rectangle)"
                    id="rectangleButton"
                    matTooltip="Créateur de rectangle"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">crop_landscape</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.pencil)"
                    [class.selected]="isCorrectState(States.pencil)"
                    id="pencilButton"
                    matTooltip="Crayon"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">edit</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.ellipse)"
                    [class.selected]="isCorrectState(States.ellipse)"
                    matTooltip="Créateur d'ellipse"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">panorama_fish_eye</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.brush)"
                    [class.selected]="isCorrectState(States.brush)"
                    id="brushButton"
                    matTooltip="Pinceau"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">brush</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
	                (click)="changeState(States.polygon)"
	                [class.selected]="isCorrectState(States.polygon)"
	                id="polygonButton"
	                matTooltip="Créateur de polygone"
	                matTooltipPosition="after"
	            >
                	<mat-icon [inline]="true">change_history</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.spray)"
                    [class.selected]="isCorrectState(States.spray)"
                    matTooltip="Aérosol"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">blur_on</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.line)"
                    [class.selected]="isCorrectState(States.line)"
                    matTooltip="Outil créateur de ligne"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">remove</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.colorApplicator)"
                    [class.selected]="isCorrectState(States.colorApplicator)"
                    matTooltip="Applicateur de couleurs"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">format_paint</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.colorPicker)"
                    [class.selected]="isCorrectState(States.colorPicker)"
                    matTooltip="Pipette de couleur"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">colorize</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.eraser)"
                    [class.selected]="isCorrectState(States.eraser)"
                    matTooltip="Efface"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">how_to_vote</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
	                (click)="changeState(States.paintBucket)"
	                [class.selected]="isCorrectState(States.paintBucket)"
	                matTooltip="Sceau de peinture"
	                matTooltipPosition="after"
	            >
                	<mat-icon [inline]="true">opacity</mat-icon>
                </button>
            </div>
            <div class="sections">
                <p class="title"> Autres </p>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.grid)"
                    [class.selected]="isCorrectState(States.grid)"
                    matTooltip="Grille"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">grid_on</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.drawingExport); exportDrawing()"
                    [class.selected]="isCorrectState(States.drawingExport)"
                    matTooltip="Exporter le dessin"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">get_app</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation || !undoRedoService.showUndo"
                    (click)="undoRedoService.undo()"
                    matTooltip="Annuler"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">undo</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation || !undoRedoService.showRedo"
                    (click)="undoRedoService.redo()"
                    matTooltip="Refaire"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">redo</mat-icon>
                </button>
            </div>

            <div class="sections">
                <p class="title"> Presse-papier </p>
                <button
                    mat-icon-button
                    (click)="clipboardHandler.delete()"
                    matTooltip="Supprimer"
                    matTooltipPosition="after"
                    [disabled]="clipboardHandler.selectedObjects.length === 0 || newDrawingService.blockNavigation"
                >
                    <mat-icon [inline]="true">delete_forever</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="clipboardHandler.cut()"
                    matTooltip="Couper"
                    matTooltipPosition="after"
                    [disabled]="clipboardHandler.selectedObjects.length === 0 || newDrawingService.blockNavigation"
                >
                    <mat-icon [inline]="true">flip_to_back</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="clipboardHandler.copy(true)"
                    matTooltip="Copier"
                    matTooltipPosition="after"
                    [disabled]="clipboardHandler.selectedObjects.length === 0 || newDrawingService.blockNavigation"
                >
                    <mat-icon [inline]="true">file_copy</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="changeState(States.selection); clipboardHandler.paste()"
                    matTooltip="Coller"
                    matTooltipPosition="after"
                    [disabled]="newDrawingService.blockNavigation"
                >
                    <mat-icon [inline]="true">layers</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="clipboardHandler.duplicate()"
                    matTooltip="Dupliquer"
                    matTooltipPosition="after"
                    [disabled]="clipboardHandler.selectedObjects.length === 0 || newDrawingService.blockNavigation"
                >
                    <mat-icon [inline]="true">library_add</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="changeState(States.selection); clipboardHandler.selectAll()"
                    matTooltip="Tout sélectionner"
                    matTooltipPosition="after"
                    [disabled]="newDrawingService.blockNavigation"
                >
                    <mat-icon [inline]="true">select_all</mat-icon>
                </button>
            </div>
            <div [ngClass]='iconFooterClass'>
                <button
                    mat-icon-button
                    (click)="createNewDrawing(); undoRedoService.clearAll()"
                    [disabled]="newDrawingService.blockNavigation"
                    [class.selected]="isCorrectState(States.newDrawing)"
                    matTooltip="Créer un nouveau dessin"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">fiber_new</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.documentation)"
                    [class.selected]="isCorrectState(States.documentation)"
                    matTooltip="Documentation"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">import_contacts</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.drawingGallery); openDrawingGallery()"
                    [class.selected]="isCorrectState(States.drawingGallery)"
                    matTooltip="Galerie de dessins"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">crop_original</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="newDrawingService.blockNavigation"
                    (click)="changeState(States.save); saveDrawing()"
                    [class.selected]="isCorrectState(States.save)"
                    matTooltip="Sauvegarder le dessin"
                    matTooltipPosition="after"
                >
                    <mat-icon [inline]="true">save</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-sidenav>
    <mat-sidenav-content class="firstSidenavContent">
        <mat-sidenav-container
            [hasBackdrop]="false"
        >
            <mat-sidenav
                #sidenav
                class="rightSidenav"
                mode="over"
                [(class.menu-open)]="sidenavOpen"
                [(class.menu-close)]="!sidenavOpen"
                [(opened)]="sidenavOpen"
            >
                <app-selection *ngIf="isCorrectState(States.selection)"> </app-selection>
                <app-brush *ngIf="isCorrectState(States.brush)"></app-brush>
                <app-pencil *ngIf="isCorrectState(States.pencil)"></app-pencil>
                <app-rectangle *ngIf="isCorrectState(States.rectangle)"></app-rectangle>
                <app-ellipse *ngIf="isCorrectState(States.ellipse)"></app-ellipse>
                <app-line *ngIf="isCorrectState(States.line)"></app-line>
                <app-color-picker *ngIf="isCorrectState(States.colorPicker)"></app-color-picker>
                <app-color-applicator *ngIf="isCorrectState(States.colorApplicator)"></app-color-applicator>
                <app-spray *ngIf="isCorrectState(States.spray)"></app-spray>
                <app-grid *ngIf="isCorrectState(States.grid)"></app-grid>
                <app-eraser *ngIf="isCorrectState(States.eraser)"></app-eraser>
                <app-polygon *ngIf="isCorrectState(States.polygon)"></app-polygon>
                <app-paint-bucket *ngIf="isCorrectState(States.paintBucket)"></app-paint-bucket>
            </mat-sidenav>
            <mat-sidenav-content class="workspace">
                <app-user-guide *ngIf="isCorrectState(States.documentation)"></app-user-guide>
                <div
                    #workspace
                    [hidden]="isCorrectState(States.documentation)"
                >
                    <svg
                        class="grid"
                        [attr.width]="svgHandlerService.canvasWidth"
                        [attr.height]="svgHandlerService.canvasHeight"
                        *ngIf="gridService.isActive"
                    >
                        <defs>
                            <pattern
                                id="grid"
                                [attr.width]="gridService.sizeChecked"
                                [attr.height]="gridService.sizeChecked"
                                patternUnits="userSpaceOnUse"
                            >
                                <path
                                    [attr.d]="gridService.verticalPath"
                                    fill="none"
                                    stroke="black"
                                    stroke-width="1"
                                    [ngStyle]="{'opacity':gridService.opacity/100}"
                                />
                                <path
                                    [attr.d]="gridService.horizontalPath"
                                    fill="none"
                                    stroke="black"
                                    stroke-width="1"
                                    [ngStyle]="{'opacity':gridService.opacity/100}"
                                />
                            </pattern>
                        </defs>
                        <rect
                            width="100%"
                            height="100%"
                            fill="url(#grid)"
                        />
                    </svg>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>
</mat-sidenav-container>
