mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    border: 0px;
}

.leftSidenavNormal {
    background-color: rgb(23, 104, 185);
    width: 100px;
}

.leftSidenavLong {
    background-color: rgb(23, 104, 185);
    width: 115px;
}

.rightSidenav {
    background-color: rgb(25, 118, 210);
    width: 250px;
    padding: 10px;
}

.buttonList {
    display: flex;
    flex-wrap: wrap;
}

button {
    margin-left: 3px;
    font-size: 36px;
    width: 45px;
    height: 45px;
}

.title {
    font-size: 20px;
    text-align: center;
}

.sections {
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(43, 42, 42);
}

.bottomStick {
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;
}

.bottomRelative {
    padding-bottom: 15px;
    position: relative;
}

button:hover {
    background-color: rgb(25, 118, 210);
}

.workspace {
    background-color: rgb(70, 70, 70);
    width: 100%;
    height: 100%;
}

.selected {
    background-color: rgb(11, 84, 158);
}

.grid {
    position: absolute;
    pointer-events: none;
}
