<div
    class="grid"
    *ngIf='!newDrawingService.openConfirmation'
>
    <h1>Nouveau dessin</h1>

    <div class="firstLineText">
        Hauteur du dessin : &nbsp;
    </div>

    <div class="firstInput">
        <mat-form-field>
            <input
                matInput
                type="number"
                [(ngModel)]='height'
                min="1"
                max="10000"
                (change)='verifyDimensions()'
            />
        </mat-form-field>
        <div class="sizeButtonsText">
            <div class="sizeButtons">
                <button
                    mat-icon-button
                    (click)="increaseHeight()"
                >
                    <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="decreaseHeight()"
                >
                    <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
                </button>
            </div>
            <p class="pxText">px</p>
        </div>
    </div>

    <div class="secondLineText">
        Largeur du dessin : &nbsp;
    </div>

    <div class="secondInput">
        <mat-form-field>
            <input
                matInput
                type="number"
                [(ngModel)]='width'
                min="1"
                max="10000"
                (change)='verifyDimensions()'
            />
        </mat-form-field>
        <div class="sizeButtonsText">
            <div class="sizeButtons">
                <button
                    mat-icon-button
                    (click)="increaseWidth()"
                >
                    <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="decreaseWidth()"
                >
                    <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
                </button>
            </div>
            <p class="pxText">px</p>
        </div>
    </div>

    <div class="thirdLineText">
        Couleur d'arriere plan : &nbsp;
    </div>

    <div class="canvasButton">
        <canvas
            width="40"
            height="40"
            [ngStyle]="{'background-color': backgroundColor.inString}"
            (click)="openColorPicker()"
            class="colorPopup"
        ></canvas>

        <button mat-raised-button
            class="createNewDrawing"
            (click)='openColorPicker()'
        >
            <span class="title">Modifier la couleur</span>
        </button>
    </div>

    <div class="cancelButton">
        <button
            mat-raised-button
            class='cancel'
            (click)='closeDialog(); '
        >
            <span class="title">Annuler</span>
        </button>
    </div>

    <div class="confirmationButton">
        <button
            mat-raised-button
            class='newDrawing'
            (click)='createNewDrawing()'
        >
            <span class="title">Créer dessin</span>
        </button>
    </div>
    <div class="spacer">&nbsp;</div>
</div>

<div
    class="confirmationDialog"
    *ngIf='newDrawingService.openConfirmation'
>
    <h3>Voulez-vous vraiment creer un nouveau dessin</h3>
    <h3>et supprimer le dessin en cours ?</h3>
    <button
        mat-raised-button
        class='cancel'
        (click)='dialogRef.close()'
    >
        <span class="title">Annuler</span>
    </button>
    <button
        mat-raised-button
        class='newDrawing'
        (click)='confirmDrawing()'
    >
        <span class="title">Créer dessin</span>
    </button>
</div>
