* {
    box-sizing: border-box;
    font-family: gotham, sans-serif !important;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-areas: 
    ". b b b b b ."
    ". d c c e g ."
    ". . f f h . ."
    ". . m m n n ."
    "j . . . . . k";
}

.spacer {
    grid-area: d;
    width: 6em;
}

h1 {
    background-color: rgb(50, 108, 165);
    padding: 10%;
    color: white;
    text-align: center;
    margin: -24px;
    font-weight: normal;
    font-size: 3em;
    grid-area: b;
}

.firstLineText {
    grid-area: c;
    text-align: center;
    margin: auto;
}

.firstInput {
    grid-area: e;
}

.secondLineText {
    grid-area: f;
    text-align: center;
    margin: auto;
}

.secondInput {
    grid-area: h;
}

.thirdLineText {
    grid-area: m;
    text-align: center;
    margin: auto;
}

.canvasColor {
    grid-area: o;
}

.canvasButton {
    grid-area: n;
    text-align: center;
}

.cancelButton {
    background-color: rgb(185, 17, 17);
    grid-area: j;
}

.confirmationButton {
    background-color: rgb(4, 119, 4);
    grid-area: k;
}

mat-form-field {
    float: left;
    position: sticky;
    width: 25%;
}

.mat-icon-button {
    line-height: unset;
    font-size: 18px;
    width: 22px;
    height: 22px;
    display: block;
 }

 mat-icon {
    font-family: 'Material Icons' !important;
 }

 .sizeButtons {
    padding-top: 0.4em;
    float: left;
 }

 .sizeButtonsText {
    display: inline-flex;
    align-items: center;
 }

.pxText {
    padding-top: 0.4em;
}

.cancel {
    background-color: rgb(185, 17, 17);
}

.newDrawing {
    background-color: rgb(4, 119, 4);
    float: right;
}

h3 {
    text-align: center;
}

.colorPopup {
    margin-top: 2%;
    float: left;
    border-radius: 5px;
}

.createNewDrawing {
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    background-color: rgb(25, 59, 92);
}

.confirmationDialog {
    width: auto;
    height: auto;
}
