<p>
    L'outil de sélection permet de sélectionner des objets, les déplacer, les pivoter et d'appliquer les actions du 
    presse-papier. 
    <br />
    <br />
    Pour utiliser cet outil, il suffit d'appuyer sur la touche <b>S</b> ou de cliquer sur l'icone suivant dans la barre 
    latérale gauche: 
    <br />
    <mat-icon>edit</mat-icon>
    <br />
    Cette icone se trouve dans la section <b>Outils</b> de la barre de navigation : 
    <br /><br />
    <img
        src="../../../assets/new-user-guide/selection-tool.PNG"
        alt="Selection tool"
    >
    <br /><br />
</p>
<h3>Sélectionner des objets</h3>
<p>
    La sélection peut se faire de plusieurs façons differentes.
    <br /><br />
    Si un clique gauche est effectué sur un objet, tous les objets sont déselectionnés sauf celui qui a reçu le clique.
    Un clique droit sur un objet change sa valeur de sélection. Si il est selectionné, il est alors désélectionné et 
    vice-versa.
    <br /><br />
    Un glisser-déposer gauche sélectionne tous les objets dans le rectangle de sélection visible sur l'écran.
    Un glisser-déposer droit change la valeur de sélection des objets dans le rectangle de sélection visible a l'écran. Donc 
    si l'objet était séléctionné il est désélectionné et vice-versa. Si on effectue un glisser-déposer droit sur l'écran et 
    qu'aucun des objets n'était séléctionné auparavant, alors le glisser-deposer droit agit comme un glisser-déposer gauche.
    <br /><br />
    <img
        src="../../../assets/new-user-guide/select-unselect.gif"
        alt="select unselect"
    >
    <br /><br />
</p>
<h3>Déplacer des objets</h3>
<p>
    Pour déplacer des objets sur la surface de dessin, il suffit tout d'abord de sélectionner les objets à déplacer. Une fois 
    les objets séléctionnés, il y a deux manières de déplacer les objets.
    <br /><br />
    La première est d'utiliser les flèches du clavier. Elles vont déplacer les objets séléctionnés de 3 pixels dans la 
    direction voulue. Autrment, on peux tout simplement effectuer un glisser-deposer dans la selection. Cela a pour effet 
    de déplacer les objets séléctionnés en suivant le curseur de la souris.
    <img
        src="../../../assets/new-user-guide/move-selection.gif"
        alt="selection move"
    >
    <br /><br />
</p>
<h3>Pivoter des objets</h3>
<p>
    Pour pivoter des objets sur la surface de dessin, il suffit tout d'abord de sélectionner les objets a pivoter. Une 
    fois les objets séléctionnés, il suffit de bouger la molette de la souris pour faire pivoter les objets.
    <br /><br />
    En temps normal, les objets selectionné vont pivoter autour du centre de la selection (la boite englobante) de 15 
    degrés a chaque cran de la molette. Si la touche <b>Shift</b> est enfoncé en meme temps que la molette bouge, alors 
    la rotation des objets seras autour de leur propres centre de rotation individuel. Si la touche <b>ALT</b> est 
    enfoncé lorsque la molette bouge, alors la rotation est de 1 degré.
    <img
        src="../../../assets/new-user-guide/rotation-selection.gif"
        alt="selection move"
    >
</p>
