<h2>Aérosol</h2>
<p class="sizeText">Diametre du jet : &nbsp;</p>
<mat-form-field class='sizeInput'>
    <input
        matInput
        type="number"
        [disabled]="isDrawing"
        [(ngModel)]="size"
        min="10"
        max="200"
        (change)="changeSize()"
        (mousedown)="stateSelector.isModifyingInput=true"
    />
</mat-form-field>

<div class="sizeButtonsText">
    <div class="sizeButtons">
        <button
            mat-icon-button
            [disabled]="isDrawing"
            (click)="increaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
        </button>
        <button
            mat-icon-button
            [disabled]="isDrawing"
            (click)="decreaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <p class="pxText">px</p>
</div>

<p class="emissionText">Emissions/secondes :&nbsp;</p>
    <mat-form-field class="sizeInput">
        <input
            matInput
            type="number"
            [(ngModel)]="emissions"
            [disabled]="isDrawing"
            min="10"
            max="1000"
            (change)="changeEmissionSize()"
            (mousedown)="stateSelector.isModifyingInput=true"
        />
    </mat-form-field>

    <div class="sizeButtonsText">
        <div class="sizeButtons">
            <button
                mat-icon-button
                [disabled]="isDrawing"
                (click)="increaseEmission()"
            >
                <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
            </button>
            <button
                mat-icon-button
                [disabled]="isDrawing"
                (click)="decreaseEmission()"
            >
                <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </div>

<app-color></app-color>