<h2>Pinceau</h2>
<p class="sizeText">Taille de la pointe : &nbsp;</p>
<mat-form-field class="formFieldInput">
    <input
        matInput
        type="number"
        [(ngModel)]="size"
        [disabled]="isDrawing"
        min="1"
        max="200"
        (change)="changeSize()"
        (mousedown)="stateSelector.isModifyingInput=true"
    />
</mat-form-field>

<div class="sizeButtonsText">
    <div class="sizeButtons">
        <button
            mat-icon-button
            [disabled]="isDrawing"
            (click)="increaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
        </button>
        <button
            mat-icon-button
            [disabled]="isDrawing"
            (click)="decreaseSize()"
        >
            <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <p class="pxText">px</p>
</div>

<p class="sizeText">Type de texture : &nbsp;</p>
<mat-form-field class="filterField">
    <mat-select
        ng-model="dropDown"
        [(value)]="selectedFilter"
        [disabled]="isDrawing"
    >
        <mat-option value="blur">Flouté</mat-option>
        <mat-option value="rounded">Bombé</mat-option>
        <mat-option value="fog">Brouillard</mat-option>
        <mat-option value="chaos">Chaos</mat-option>
        <mat-option value="shadow">Ombre</mat-option>
    </mat-select>
</mat-form-field>

<p>Prévisualisation : &nbsp;</p>
<svg
    width="230"
    height="115"
>
    <line
        *ngIf="selectedFilter == 'blur'"
        x1='190'
        y1='40'
        x2='20'
        y2='40'
        filter="url(#blur)"
    ></line>
    <line
        *ngIf="selectedFilter == 'rounded'"
        x1='190'
        y1='40'
        x2='20'
        y2='40'
        filter="url(#rounded)"
    ></line>
    <line
        *ngIf="selectedFilter == 'fog'"
        x1='190'
        y1='40'
        x2='20'
        y2='40'
        filter="url(#fog)"
    ></line>
    <line
        *ngIf="selectedFilter == 'chaos'"
        x1='190'
        y1='40'
        x2='20'
        y2='40'
        filter="url(#chaos)"
    ></line>
    <line
        *ngIf="selectedFilter == 'shadow'"
        x1='190'
        y1='40'
        x2='20'
        y2='40'
        filter="url(#shadow)"
    ></line>
</svg>

<app-color></app-color>
